head,body {
    font-family: 'Arial,sans-serif';
}

#header {
    border-style: hidden hidden solid hidden;
    border-color: lightgrey;
    border-width: 0.5px;
    color: #e60000;
    height: 30px;
    font-size: 21px;
    margin: 10px;
}

#links {
    text-align: right;
}

#Advance_button{
    background-image: linear-gradient(#1a8cff,#0073e6);
    color: white;
    border-radius: 4px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    border: #4d4dff solid 1px;
    height: 30px;
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;

}

#Advance_button:hover {
    border: solid #0066cc 1.3px;
    background-image: linear-gradient(#0080ff,#0066cc)
}

.query {
    width: 600px;
    grid-column: 1 / 4;
    grid-row: 1;
    border-radius: 20px;    
    border: 1px solid grey;
    padding-left: 15px;

}

.query:hover {
    box-shadow:  0.25px 0.25px 5px 2.5px lightgrey;
}

.query:focus {
    outline: none;
}

.click {
    width: 150px;
    border-radius: 5px;
    border-width: 1px;
    background-color: whitesmoke;
    border-color: transparent;
    color: grey;
    margin-top: 10px;
    padding: 5px;
    margin-left: 100px;
}

.click:hover{
    border: lightgrey solid 1px;
    color: black;
    box-shadow: 0px 1px 0px 0px #f2f2f2;

}

form {
    display: grid;
    grid-row-gap: 2px;
    grid-template: 35px / auto auto auto;
    justify-content: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

#advance {
    display: grid;
    grid-row-gap: 5px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 35px 35px 35px 35px;
}


#um {
    grid-column: 2 / 4;
    grid-row: 1;
}

#dois {
    grid-column: 2 / 4;
    grid-row: 2;
}

#tres {
    grid-column: 2 / 4;
    grid-row: 3;
}

#quatro {
    grid-column: 2 / 4;
    grid-row: 4;
}


.query_v2:focus{
    outline-color: #1a8cff;
    box-shadow: 0px 2px 2px 0px inset lightgray;
}

